{% extends "layout.html" %}
{% block content %}
    <h1 style="border: 10px;">Tracksonware</h1>
    <p>Have a nice {{ day }}!</p>
    
{% endblock %}
<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Tracksonware</title>
    <style>
      h1 {
      color: #e9601a;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Tracksonware</h1>
    <p>Have a nice {{ day }}!</p>
    <ul>
      <li><a href="/products">Show Product List</a></li>
    </ul>
    
  </body>
</html>-->