<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Tracksonware</title>
    <link rel="stylesheet" href="/static/product.css"/>    
    
  </head>
  <body>
        <header>
                <nav>
                  <ul>
                    <li><a href="{{ url_for('home_page') }}">Return Homepage</a></li>
                    <li class="active"><a href="{{ url_for('product_page') }}">Show Product List</a></li>
                    <li ><a href="{{ url_for('customer_page') }}">Show Customer List</a></li>
                    {% if current_user.is_admin %}
                      <li class="active"><a href="{{ url_for('product_add_page') }}">Add Product</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                      <li><a href="{{ url_for('login_page') }}">Log in</a></li>
                    {% else %}
                      {{ current_user.username }}
                      <li><a href="{{ url_for('logout_page') }}">Log out</a></li>
                     {% endif %}
                  </ul>
                </nav>
                <br><br>
        </header>
    
    <main style="text-align: center;">
      
      {% for message in get_flashed_messages() %}
      <div class="notification is-info">{{ message }}</div>
      {% endfor %}

    <section class="section">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </section>
    </main>
    <footer style="text-align: center;">
      <small>&copy; 2019, TracksonWare</small>
    </footer>
  </body>
</html>