{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}
{% block content %}
    <h1 class="title">Edit Product</h1>

    <form action="" method="post" name="product_edit" style="text-align: center;">
      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
          <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="price" class="label">Price</label>
        <div class="control">
          <input type="number" name="price" class="input" value="{{ values['price'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="amount" class="label">Amount</label>
        <div class="control">
          <input type="number" name="amount" class="input" value="{{ values['amount'] }}"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}